@model KladrTask.WebUI.Models.UserViewModel

@{
    ViewBag.Title = "User";
}

<center>
    <div class="item">

        @Model.FirstName
        <br />
        @Model.LastName
        <br />
        @Model.Birthday
        <br />
        @Model.RegionCode
        <br />
        @Model.LocalityCode
        <br />
        @Model.RoadCode
        <br />
        @Model.HouseCode

        @using (Html.BeginForm("AddToMailbox", "Mailbox"))
        {
            @Html.HiddenFor(x => x.Login)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" value="+ Add to mailbox" />
        }

        @using (Html.BeginForm("RemoveFromMailbox", "Mailbox"))
        {
            @Html.HiddenFor(x => x.Login)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" value="- Remove from mailbox" />
        }

        @using (Html.BeginForm("Index", "LettersRedactor"))
        {
            @Html.TextBox("letter")
            <input type="submit" value="Показать письма" />
        }

    </div>
</center>
<br />
