@model KladrTask.WebUI.Models.UserViewModel

@{
    ViewBag.Title = "User";
}

<center>
    <div class="item">

        @Model.FirstName
        <br />
        @Model.LastName
        <br />
        @Model.Birthday
        <br />
        @Model.RegionCode
        <br />
        @Model.LocalityCode
        <br />
        @Model.RoadCode
        <br />
        @Model.HouseCode
    </div>
</center>
<br/>
