@model KladrTask.WebUI.Models.UserViewModel

@{
    ViewBag.Title = "User";
}

<center>
    <div class="item">

        @Model.FirstName
        <br />
        @Model.LastName
        <br />
        @Model.Birthday.Date.Day.@Model.Birthday.Date.Month.@Model.Birthday.Date.Year
        <br />
        @Model.RegionCode
        <br />
        @Model.LocalityCode
        <br />
        @Model.RoadCode
        <br/>
        @Model.Index
    </div>
</center>
<br />