@model KladrTask.WebUI.Models.AddressViewModel

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Main.cshtml";
}



<div>
    @Model.Region
</div>
<div>
    @Model.Locality
</div>
<div>
    @Model.Street
</div>
<div>
    @Model.House
</div>
<div>
    @Model.Index
</div>
